<div class="container-md">
  <br>
  <h2>Alta de Equipos de Computo (Mantenimiento) </h2>
  <h5>Detalles del equipo a dar de Alta</h5>
  <div class="mb-3">
    <div class="row align-items-start">
      <div class="col">
        <label for="exampleFormControlInput1" class="form-label">Clave CAMBS</label>
        <input type="email" class="form-control form-control-sm text-uppercase" id="exampleFormControlInput1" placeholder="I600000">
      </div>
      <div class="col">
        <label for="exampleFormControlInput1" class="form-label">Num. Inventario</label> <!--Dato requerido-->
        <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="100">
      </div>
    </div> <!--CLAVES CAMBS Y INVENTARIO-->
  </div>

  <div class="row align-items-start">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Marca</label>
      <input type="email" class="form-control form-control-sm text-uppercase" id="exampleFormControlInput1" placeholder="Compaq">
    </div>
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Modelo</label>
      <input type="email" class="form-control form-control-sm text-uppercase" id="exampleFormControlInput1" placeholder="DC-7800">
    </div>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Descripción de falla</label>
    <textarea class="form-control text-uppercase" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>
