<div id="cardHeaderTop" class="card-header text-center">Reporte de equipos medicos en mantenimiento, baja y alta por reparación.</div>
<div class="card-body">
    <div data-bs-spy="scroll" data-bs-target="#cardHeaderTop" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <h5 class="card-title">Listado de equipos medicos en mantenimiento</h5>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquipoMedico of EquiposMedicos">
                    <td>{{equiposmedicos.idEquipoMedico}}</td>
                </tr>-->
            </tbody>
        </table>
      
        <h5 class="card-title">Listado de equipos medicos en reparacion</h5>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquipoMedico of EquiposMedicos">
                    <td>{{equiposmedicos.idEquipoMedico}}</td>
                </tr>-->
            </tbody>
        </table>
      
        <h5 class="card-title">Listado de equipos medicos para baja</h5>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquiposMedicos of equiposMedicos">
                    <td>{{equipoMedico.idEquipoMedico}}</td>
                </tr>-->
                    <!--<tr *ngFor="let EquipoMedico of equiposMedicos">-->
                        <!--<td>{{equiposMedicos.idEquipoMedico}}</td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
            </tbody>
        </table>
      </div>
    </div>