<div id="cardHeaderTop" class="card-header text-center">Reporte de equipos medicos en mantenimiento, baja y alta por reparación.</div>
<div class="card-body">
        <h5 class="card-title">Listado de equipos de computo en mantenimiento</h5>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquipoMedico of EquiposMedicos">
                    <td>{{equiposmedicos.idEquipoMedico}}</td>
                </tr>-->
            </tbody>
        </table>
      
        <h5 class="card-title">Listado de equipos de computo en reparacion</h5>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquipoMedico of EquiposMedicos">
                    <td>{{equiposmedicos.idEquipoMedico}}</td>
                </tr>-->
            </tbody>
        </table>
      
        <h5 class="card-title">Listado de equipos de computo para baja</h5>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquipoMedico of EquiposMedicos">
                    <td>{{equiposmedicos.idEquipoMedico}}</td>
                </tr>-->
            </tbody>
        </table>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquipoMedico of EquiposMedicos">
                    <td>{{equiposmedicos.idEquipoMedico}}</td>
                </tr>-->
            </tbody>
        </table>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquipoMedico of EquiposMedicos">
                    <td>{{equiposmedicos.idEquipoMedico}}</td>
                </tr>-->
            </tbody>
        </table>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquipoMedico of EquiposMedicos">
                    <td>{{equiposmedicos.idEquipoMedico}}</td>
                </tr>-->
            </tbody>
        </table>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquipoMedico of EquiposMedicos">
                    <td>{{equiposmedicos.idEquipoMedico}}</td>
                </tr>-->
            </tbody>
        </table>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquipoMedico of EquiposMedicos">
                    <td>{{equiposmedicos.idEquipoMedico}}</td>
                </tr>-->
            </tbody>
        </table>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquipoMedico of EquiposMedicos">
                    <td>{{equiposmedicos.idEquipoMedico}}</td>
                </tr>-->
            </tbody>
        </table>
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>id </th>
                    <th>nombre </th>
                    <th>apellido </th>
                    <th>createAt </th>
                    <th>email </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let EquipoMedico of EquiposMedicos">
                    <td>{{equiposmedicos.idEquipoMedico}}</td>
                </tr>-->
            </tbody>
        </table>
    </div>